<div class='row'>
	<div class='small-1 column'>
		<p><%= link_to 'questions', questions_path %></p>
	</div>
	
	<div class='small-1 column'>
		<p><%= archived_link_for @node %></p>
	</div>
</div>

<%= render 'tree', node: @node.root, selected: @node -%>

<h1><%= type_for(@node).titleize %></h1>
<%= render 'node', node: @node, id_or_class: 'id' -%>

<% @node.valid_ordered_child_classes.each do |child_class| -%>
	<% nodes = @node.ordered_children_for child_class.name -%>
	
	<% unless nodes.empty? -%>
		<% unless 'subtype' == type_for(child_class) -%>
			<h2><%= type_for(child_class).titleize.pluralize %></h2>
		<% end -%>
		
		<%= render 'list', collection: nodes, list_type: :ol -%>
	<% end -%>
<% end -%>

<br>
<br>
<br>

<a name='form'>
	<h2>New Response</h2>
</a>

<div class='form'>
	<%= render 'form', node: @node.children.build -%>
</div>
