<% selected = nil unless selected -%>
<% css_selected = (node == selected ? ' expanded selected' : nil) -%>

<div id='<%= node.id || 'new_node' %>' class='content'>
	<a name='<%= css_selected %>'></a>
	
	<div id='branch_header_<%= node.id || 'new_node' %>'class='branch_header<%= css_selected %>' style='margin-right:<%= node.altitude * 21 %>px;'>
		<% if color_type_for(node) -%>
			<div class='color_<%= color_type_for(node) %>' style='min-width:21px;'>
				<%= node.active_children.count unless node.active_children.blank? %>
			</div>
			
			<div class='root_color_<%= root_color_type_for(node) %>' style='min-width:21px;'>
				<%= node.active_descendants.length unless node.active_descendants.blank? %>
			</div>
		<% end -%>
		
		<div style='display:block; float:right; margin:0; padding:0;'>
			<label class='label round' style='vertical-align:middle; margin: 0 -2px 0 0; padding:4px;'>
				<%= time_ago_in_words(node.updated_at || Time.zone.now).gsub('about ', '').send(:+, ' ago').gsub('less than a minute ago', 'just now').gsub('minute', 'min').gsub(' ', '&nbsp;').html_safe %>
			</label>
		</div>
		
		<% if node.new_record? -%>
			<%= link_to 'New Response', js_void, onclick: "toggleVisibility('#response_to_#{node.parent_id}');" %>
		<% else -%>
			<%= "<strike>".html_safe if node.archived_at -%>
				<%= link_to node.summary, js_void, onclick: "toggleBodyTextVisibility('##{node.id}')" %>
			<%= "</strike>".html_safe if node.archived_at -%>
		<% end -%>
	</div>
	
	<div class='branch_body'>
		<div class='left_vertical_arrow <%= color_type_for node %>_arrow'>
		</div>
		
		<div class='left_vertical_arrow_head <%= color_type_for node %>_arrow'>
			<%= "&#9652;".html_safe if node.has_active_children? %>
		</div>
		
		<div id='branch_body_text_<%= node.id || 'new_node' %>' class='branch_body_text<%= node.new_record? ? '_response' : '' %>' style='margin-right:<%= (node.altitude + 1) * 21 + 1 %>px; <%= (node.new_record? or node == selected) ? '' : 'display:none;' %>'>
			<% if node.new_record? %>
				<%= render 'form', node: node, inline: true %>
			<% else -%>
				<%= render 'links', node: node, is_question_list: false %>
				<%= simple_format '<br />' + node.body unless node.body.blank? %>
			<% end -%>
		</div>
		
		<% unless node.new_record? -%>
			<ul>
				<li id='response_to_<%= node.id %>' style='display:none;'>
					<div class='branch_node'>
						<div class='left_horizontal_arrow <% color_type_for node %>_arrow'></div>
						
						<%= render 'branch', node: node.children.build, selected: selected -%>
					</div>
				</li>
				
				<% if node.children.any? -%>
					<% node.ordered_children.each do |child| -%>
						<% next if child.archived_at and not params[:deleted] -%>
						
						<li>
							<div class='branch_node'>
								<div class='left_horizontal_arrow <%= color_type_for node %>_arrow'></div>
								
								<%= render 'branch', node: child, selected: selected -%>
							</div>
						</li>
					<% end -%>
				<% end -%>
			</ul>
		<% end -%>
	</div>
</div>
