<div class='content'>
	<% selection = (node == selected) ? ' selected' : '' -%>
	
	<div class='branch_header<%= selection %>' style='margin-right:<%= node.altitude * 21 %>px;'>
		<% if color_type_for(node) -%>
			<div class='color_<%= color_type_for(node) %>' style='width:21px;height:21px;'>
			</div>
			
			<div class='root_color_<%= root_color_type_for(node) %>' style='width:21px;height:21px;'>
			</div>
		<% end -%>
		
		<% if (node == @new_node) -%>
			<%= link_to 'Respond', js_void, onclick: "toggleResponseVisibility()" %>
		<% else -%>
			<%= "<strike>".html_safe if node.archived_at -%>
				<%= link_to(node.summary, selected_node_path(node)) -%>
			<%= "</strike>".html_safe if node.archived_at -%>
		<% end -%>
	</div>
	
	<div class='branch_body'>
		<div class='left_vertical_arrow <%= color_type_for node %>_arrow'>
		</div>
		
		<div class='left_vertical_arrow_head <%= color_type_for node %>_arrow'>
			<%= "&#9652;".html_safe if node.has_active_children? or (node == selected) %>
		</div>
		
		<% if ((node == selected) and !node.body.blank?) or (node.new_record?) %>
			<div class='branch_body_text<%= node.new_record? ? ' response' : '' %>' style='margin-right:<%= (node.altitude + 1) * 21 %>px; <%= 'display:none;' if node.new_record? %>'>
				<% if node.new_record? -%>
					<%= render 'form', node: @new_node, inline: true %>
				<% else -%>
					<%= simple_format node.body %>
				<% end -%>
			</div>
		<% end -%>
		
		<% if node.children.any? or (node == selected) -%>
			<ul>
				
				<% ( [(node == selected ? @new_node : nil)] + node.ordered_children ).compact.each do |child| -%>
					<% next if child.archived_at and not params[:deleted] and not selected.has_ancestor? child -%>
					
					<li>
						<div class='branch_node'>
							<div class='left_horizontal_arrow <%= color_type_for node %>_arrow'></div>
							
							<%= render 'branch', node: child, selected: selected -%>
						</div>
					</li>
				<% end -%>
				
			</ul>
		<% end -%>
	</div>
</div>

<script>
	function responseVisibility(){
		return $('.response').css('display') != 'none';
	}
	
	function toggleResponseVisibility(){
		if (responseVisibility()) {
			$('.response').hide();
		}
		else {
			$('.response').show();
		}
  };
</script>