<% url = node.new_record? ? nodes_path : node_path(node) -%>

<div class='form'>
	<%= form_for node, url: url do |f| %>
		<div style='display:none;'>
			<%= f.text_field :parent_id %>
		</div>
		
		<div>
			<%= label_with_errors node, :summary %>
			<%= f.text_area :summary, rows: 3, cols: 100, placeholder: "Summarize your #{node.type.downcase} briefly", style: 'height:auto;' %>
		</div>
		
		<div>
			<%= label_with_errors node, :body %>
			<%= f.text_area :body, rows: 20, cols: 100, placeholder: "Expand on your #{node.type.downcase}", style: 'height:auto;' %>
		</div>
		
		<div class='row'>
			<% parent_relations_for(node).each do |parent_relation| -%>
				<div class='large-3 small-6 columns'>
					<%= f.submit (parent_relation || 'Ask'), params: { parent_relation: parent_relation } , :class => 'submit' %>
				</div>
			<% end -%>
			
			<div class='large-3 small-6 columns left'>
				<%= back_link_for node, 'Cancel', :class => 'cancel' %>
			</div>
		</div>
	<% end -%>
</div>
