<% url = node.new_record? ? nodes_path : node_path(node) -%>

<div class='form'>
	<%= form_for node, url: url do |f| %>
		<div style='display:none;'>
			<%= f.text_field :parent_id %>
		</div>
		
		<div>
			<%= label_with_errors node, :summary %>
		</div>
		
		<div>
			<%= f.text_area :summary, rows: 3, cols: 100, placeholder: "Be brief!", style: 'height:auto;' %>
		</div>
		
		<div>
			<%= label_with_errors node, :body %>
		</div>
		
		<div>
			<%= f.text_area :body, rows: 20, cols: 100, placeholder: "Expand here...", style: 'height:auto;' %>
		</div>
		
		<div class='row'>
			<% button_cols = 12 / (node.parent.valid_ordered_child_classes.length + 1) -%>
			
			<% node.parent.valid_ordered_child_classes.each do |klass| -%>
				<div class='medium-<%= button_cols %> small-6 columns'>
					<%= f.submit submit_text_for(klass), :id => "#{type_for klass}_button" %>
				</div>
			<% end -%>
			
			<div class='medium-<%= button_cols %> small-6 columns'>
				<%= cancel_link_for node, 'Cancel', :id => 'cancel_button' %>
			</div>
		</div>
	<% end -%>
</div>
