<div class='actions'>
	<% unless is_question_list -%>
		<%= link_to 'respond', js_void, onclick: "toggleVisibility('#response_to_#{node.id}');" %>
		<%= divider %>
		<%= link_to 'select', nodes_path + "/#{node.id}#selected" %>
		<%= divider %>
		<%= parent_link_for node %>
		<%= divider %>
		<%= edit_link_for node %>
		<%= divider %>
		<%= archive_or_restore_link_for node %>
	<% end -%>
</div>
