<% is_tree_list = nil unless is_tree_list -%>
<% is_question_list = nil unless is_question_list -%>

<div class='actions'>
	<% unless is_tree_list or is_question_list -%>
		<%= link_to 'respond', js_void, onclick: "show_or_hide('#response_to_#{node.id}');" %>
		<%= divider %>
		<%= link_to 'select', nodes_path + "/#{node.id}#selected" %>
		<%= divider %>
		<%= parent_link_for node %>
		<%= divider %>
		<%= edit_link_for node %>
		<%= divider %>
		<%= archive_or_restore_link_for node %>
	<% end -%>
</div>
