<% is_question_list = ('question' == type_for(node) and 'class' == id_or_class) -%>

<div <%= id_or_class %>='<%= type_for(node) %>'>
	<% if color_type_for(node) -%>
		<div class='color_<%= color_type_for(node) %>'>
		</div>
		
		<div class='root_color_<%= root_color_type_for(node) %>'>
		</div>
	<% end -%>
	
	<div class='header'>
		<div class='summary'>
			<%= "<h3>".html_safe unless is_question_list -%>
			
			<%= "<span class='strike'>".html_safe if node.archived_at -%>
				<% if id_or_class == 'id' -%>
					<%= node.summary -%>
				<% elsif id_or_class == 'class' -%>
					<%= link_to node.summary, node_path(node) -%>
				<% end -%>
			<%= "</span>".html_safe if node.archived_at -%>

			
			<%= "</h3>".html_safe unless is_question_list -%>
		</div>
		
		<div class='actions'>
			<% unless is_question_list -%>
				<%= edit_link_for node %>
				<span style='color:lightgrey'>|</span>
				<%= archive_or_restore_link_for node %>
			<% end -%>
		</div>
	</div>
	
	<% unless is_question_list -%>
		<div class='body'>
			<% content = simple_format(node.body) -%>
			<%= node.archived_at ? strike(content) : content %>
		</div>
	<% end -%>
</div>
