<% is_tree_list = (node.is_root? and 'class' == id_or_class) -%>

<div <%= id_or_class %>='<%= type_for(node) %>'>
	<% if color_type_for(node) -%>
		<div class='color_<%= color_type_for(node) %>' style='<%= is_tree_list ? 'width:21px;' : '' %>' >
		</div>
		
		<div class='root_color_<%= root_color_type_for(node) %>' style='<%= is_tree_list ? 'width:21px;' : '' %>' >
		</div>
	<% end -%>
	
	<div class='header full_node'>
		<div class='summary'>
			<%= "<h3>".html_safe unless is_tree_list -%>
			
			<%= "<strike class='strike'>".html_safe if node.archived_at -%>
				<% if id_or_class == 'id' -%>
					<%= node.summary -%>
				<% elsif id_or_class == 'class' -%>
					<%= link_to node.summary, selected_node_path(node) -%>
				<% end -%>
			<%= "</strike>".html_safe if node.archived_at -%>

			
			<%= "</h3>".html_safe unless is_tree_list -%>
		</div>
		
		<%= render 'links', node: node, is_tree_list: is_tree_list %>
	</div>
	
	<div class='body'>
		<% content = simple_format(node.body) -%>
		<%= node.archived_at ? strike(content) : content %>
	</div>
</div>
