<div <%= id_or_class %>='<%= type_for(node) %>'>
	<% if color_type_for(node) -%>
		<div class='color_<%= color_type_for(node) %>'>
		</div>
		
		<div class='root_color_<%= root_color_type_for(node) %>'>
		</div>
	<% end -%>
	
	<div class='header full_node'>
		<div class='summary'>
			<h3>
				<%= "<strike class='strike'>".html_safe if node.archived_at -%>
					<% if id_or_class == 'id' -%>
						<%= node.summary -%>
					<% elsif id_or_class == 'class' -%>
						<%= link_to node.summary, selected_node_path(node) -%>
					<% end -%>
				<%= "</strike>".html_safe if node.archived_at -%>
			</h3>
		</div>
		
		<%= render 'links', node: node %>
	</div>
	
	<div class='body'>
		<% content = simple_format(node.body) -%>
		<%= node.archived_at ? strike(content) : content %>
	</div>
</div>
